h3 {
  padding-left: 20px;
  padding-top: 20px;
}

#entete {
    /*/border: 1px solid black;/*/
    height: 75px;
    padding: 25px;
}
#logo {
  width: 40px;
  height: 40px;
  margin: -10px;
}
strong {
  color: #FF5A5F;
}
#colonne {
    width: inherit;
}

#titreppal {
    /*/border: 1px solid black;/*/
    height: 200px;
    padding: 25px;
    margin-bottom: 20px;
    overflow: hidden;
}
#menunu {
    /*border: 1px solid black;*/
    height: 50px;
}

#menubar {
  border: 1px solid #DCE0E0;
  border-radius: 5px;
  padding: 10px;
}
#singlebutton {
  margin-top: 13.5px;
  float: right;
}

#footer_title {
font-size: 15px;
line-height: 18px;
margin-bottom: 22px;
font-weight: bold;
}
#footer_line{
font-size: 14px;
line-height: 20px;
color: rgb(118, 118, 118);
}
#footer_copyright {
border-top: .5px solid #DEDEDE;
margin-top: 80px;
margin-bottom: 20px;
padding-top: 40px;
color: rgb(118, 118, 118);
}
